* {
    margin: auto;
    padding: auto;
}

@media only screen and (max-width: 750px) {
    .navlinks {
        display: none;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.nav {
    color: white;
    display: flex;
    font-size: 2rem;
    padding: 1.7rem;
    background-image: linear-gradient(to bottom, rgba(35, 35, 35, 1), rgba(35,35,35,0.0));
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100vw;
}

.navlogo {
    font-size: 3rem;
    display: flex;
}

.navlogo img {
    height: 2em;
}

.nav a {
    text-decoration: none;
    color: white;
    display: block;

}

.navlinks ul{
    display: flex;
    list-style: none;
    gap: 5em;
}

