html {
    font-size: 62.5%;
}

* {
    margin: auto;
    padding: auto;
}

@media screen and (min-width: 768px) {
.nav {
    max-width: 100%;
}

    .download-container {
        font-size: 3rem;
        width: 100%;
    }
} 

body {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.nav {
    width: 100vw;
    margin: auto;
    display: flex;
    height: 15%;
    background-image: linear-gradient(180deg, rgba(32,32,32,1), rgba(32,32,32,0));
    position: fixed;
    z-index: 1;
    top: 0;
}

.nav img {
    height: 95%;
}

.title {
    padding-top: 2rem;
    background-image: linear-gradient(rgba(32,32,32,0.55)), url("images/titlebg-edited.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 65%;
    margin: auto;
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.content-container {
    height: 80%;
}

.download-container {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 50%;
    background-color: rgba(32,32,32,0.75);
    color: rgb(207, 207, 207);
    font-size: 1.7rem;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    margin: 1em;
    overflow: visible;
}

.download-container h1 {
    flex: 0 1 100%;
    font-size: 2em;
    padding: 0rem 1rem 0rem 1rem; 
}

.download-container p {
    flex: 0 1 100%;
    padding: 0rem 2rem 0rem 2rem; 
}

.download-container a {
    flex: 0 1 100%;
    text-decoration: none;
    background-color: rgba(207, 207, 207);
    color: rgb(32, 32, 32);
    padding: 1.3em 0.5em 1.3em 0.5em;
    border-radius: 20px;
}

.navigation-container {
    height: 40%;
    display: flex;
    flex-direction: column;
}

.button-container {
    width: 90%;
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: rgba(32,32,32,0.62);
}

.button-container a {
    color: rgba(207, 207, 207);
    font-size: 1.8em;
    text-decoration: none;
    padding: 2rem;
    background-color: none;
    transition: 0.5s;
    width: 85%;
    height: 2rem;
}

.button-container a:hover {
    background-color: rgba(207, 207, 207, 0.62);
    color: rgba(32,32,32,1);
}

.button-container img {
    width: 4rem;
}