html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: auto;
    padding: auto;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}


@media screen and (min-width: 1080px) {
.nav {
    max-width: 100%;
}

    .aboutcontentcontainer {
        display: flex;
        width: 80%;
    }

    .image-container {
        width: 10%;
    }

    .image-container img {
        position: relative;
        left: 6em;
    }

    .dialogue-box {
        left: 3em;
    }

    .dialogue-box p {
        font-size: 1.5em
    }
    
    .dialogue p {
        font-size: 1.5em;
    }


} 

a:focus, input:focus {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("images/titlebg-edited.png");
    background-color: rgb(46, 46, 46);
    background-repeat: none;
    background-size: cover;
    background-position-x: 65%;
    background-attachment: fixed;
}

.nav {
    width: 100vw;
    margin: auto;
    display: flex;
    height: 15%;
    background-image: linear-gradient(180deg, rgba(32,32,32,1), rgba(32,32,32,0));
    position: fixed;
    z-index: 1;
    top: 0;
}

.nav img {
    height: 95%;
}

.title {
    padding-top: 2rem;
    margin: auto;
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.content-container {
    height: 80%;
}

.download-container {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 50%;
    background-color: rgba(32,32,32,0.75);
    color: rgb(207, 207, 207);
    font-size: 1.7rem;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    overflow: visible;
}

.download-container h1 {
    flex: 0 1 100%;
    font-size: 2em;
    padding: 0rem 1rem 0rem 1rem; 
}

.download-container p {
    flex: 0 1 100%;
    padding: 0rem 2rem 0rem 2rem; 
}

.download-container a {
    flex: 0 1 100%;
    text-decoration: none;
    background-color: rgba(207, 207, 207);
    color: rgb(32, 32, 32);
    padding: 1.3em 0.5em 1.3em 0.5em;
    border-radius: 20px;
}

.navigation-container {
    margin-top: 1em;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.button-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: rgba(32,32,32,0.62);
}

.button-container a {
    flex: 0 1 80%;
    color: rgba(207, 207, 207);
    font-size: 1.8em;
    text-decoration: none;
    padding: 2rem;
    background-color: none;
    transition: 0.5s;
    height: 2rem;
}

.button-container a:hover {
    background-color: rgba(207, 207, 207, 0.62);
    color: rgba(32,32,32,1);
}

.icon-container {
    flex: 1 1 20%;
    height: 100%;
    text-align: center;
    border-right-style: solid;
    border-right-color: rgba(207, 207, 207, 0.62);
    border-right-width: 2px;
    display: flex;
    align-items: center;
}


.icon-container img {
    display: block;
    margin: auto;
    height: 4rem;
}

.about-container {
    padding-top: 2rem;
    margin: auto;
    min-height: 100dvh;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.aboutcontentcontainer {
    height: 80%;
}

.tungkol {
    flex: 1 1 80%;
    width: 90%;
    display: block;
    height: fit-content;
    background-color: rgba(32,32,32,0.75);
    color: rgb(207, 207, 207);
    font-size: 1.7rem;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

.about-container img {
    height: 40%;
}

.tungkol h1 {
    text-align: left;
}

.faq-information h1 {
    text-align: center;
}

.tungkol p {
    text-align: justify;
}

.tungkoltext {
    padding: 2em;
}

.barrier {
    background-color: rgba(32,32,32,0.62);
    height: 10dvh;
}

.image-container {
    width: 90%;
    flex: 0 1 100%;
    display: flex;
    flex-direction: row;
}

.image-container img {
    flex-shrink: 1;
    margin: 3em;
    width: 30%;
    position: relative;
    top: -5em;
    right: 2em;
}

.dialogue-box {
    position: relative;
    top: -3em;
    right: 2.01em;
    background-color: rgba(32,32,32,0.62);
    color: rgb(207, 207, 207);
    font-size: 1.4rem;
    text-align: justify;
}

.dialogue p {
    padding: 1em;
}

.dialogue {
    padding: 0.5em 1em 0.5em 1em;
}

.dialogue-box-header {
    background-color: rgba(32,32,32,0.95);
    width: 100%;
}

.dialogue-box-header p {
    padding-left: 1em;
}
.kabanata-container {
    max-width: 100dvw;
    font-size: 1.7rem;
    color: rgb(207, 207, 207);
    padding-top: 2rem;
    margin: auto;
}

.kabanata-container {
    width: 90dvw;
}

.kabanata-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.kabanata-grid-1 {
    flex: 0 1 400px;
    display: flex;
    flex-direction: column;
    background-color: rgba(32,32,32,0.62);
    font-size: 1.7rem;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}


.kab-container {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 80%;
}

.kabanata-grid-1 img {
    width: 100%;
}

.kabanata-grid-1 p {
    padding: 2rem;
    text-align: justify;
}


.credits {
    padding-top: 10rem;
    max-width: 100vw;
}

.credits-container {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    width: 70%;
    max-height: fit-content;
    background-color: rgba(32,32,32,0.75);
    color: rgb(207, 207, 207);
    font-size: 1.7rem;
    border-radius: 30px;
    padding-top: 1em;   
    margin-bottom: 5em;
}

.credits-container p{
    text-align: left;
}

.credits-container li {
    margin: 1em;
}

.credits-container ul {
    list-style: none;
    margin-left: 2em;
    padding: 0;
}

footer {
    max-width: 100vw;
    background-color: rgb(32, 32, 32);
    color: rgb(165, 165, 165);
    font-size: 1.4rem;
    padding: 1rem;
    display: flex;
}

.logocont {
    width: 50%;
    text-align: right;
}

.undertone {
    background-color: rgb(18, 18, 18);
    color: rgba(207, 207, 207);
    text-align: right;
    font-size: 1.3rem;
    padding: 1rem;
}

.undertone p {  
    width: 95%;
}


footer img {
    width: 10rem;
}


.faq-container {
    max-width: 100vw;
    min-height: 100vh;
    color: rgb(207, 207, 207);
}

.faq-information {
    width: 80%;
    font-size: 1.7rem;
    margin-top: 10em;
    margin-bottom: 10em;
} 

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(32,32,32,0.62);
    margin: 0;
    padding: 0;
    gap: 2rem;
    padding-top: 2em;
    padding-bottom: 2em;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.faq li {
    flex: 1 0 20px;
    list-style: none;
    width: 80%;
    border-radius: 8px;
    background-color: rgb(47, 47, 47);
}

.faq li label {
    display: flex;
    align-items: left;
    padding: 1em;
    font-size: 1.78rem;
    cursor: pointer;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(207, 207, 207, 0.62);
    background-color: rgb(47,47,47);
    color: rgb(207, 207, 207);
    transition: background-color 0.5s;
    text-align: justify;
}

.faq li label:hover {
    background-color: rgb(29, 29, 29);
}


input[type="radio"]{
    display: none;
}

.answer {
    color: rgb(198, 198, 198);
    max-height: 0;
    overflow: hidden;
    width: 80%;
    transition: max-height 0.5s, padding 0.5s;
    text-align: justify;
}

input[type="radio"]:checked + label + .answer {
    max-height: 1000px;
    padding: 2em 0em 2em 0em;
}


